---
layout: layout
---

<style>
    #about-header{
        margin-top: 85px;
    }
    #about-header img{
        width: 145px;
    }
    .offer-body,
    .person-body,
    .project-body,
    .skills-body,
    .work-body,
    .learn-body{
        padding-left: 25px;
    }
    p{
        margin:0;
        font-size: 15px;
    }
    .body-section{
        padding-left: 15px;
    }
    #offer ul{
        margin-left: 20px;
        margin-bottom: 5px!important;
        border-left: 4px darkgray solid;
        padding-left: 8px;

    }
    li{
        list-style: none;
        font-size: 15px;

    }
    .title{
        color: #777;
    }
    .title>span{margin-right: 5px}
    .detail-info-xueli{
        display: block;
        padding-left: 70px;
    }


</style>

<!-- Chinese Version -->
<div class="zh post-container">
<    <div class="content" id="about-header"> 
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3">
                <div>
                    <img  src="../img/avatare.jpeg"  style="border-radius: 50%;"/>
                </div>
                <div class="text-center">
                     <h2>Owen/男/24岁</h2>
                    <p>职位：全栈开发工程师</p>
                </div>
            </div>
        </div>
        <!--正文-->
        <div class="row" id="offer">
            <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3">
                <div class="work-experience">
                    <h3 class="title"> 经历</h3>
                    <p>
                        前端开发之路
                    </p>
                    <div class="body-section">
                        <ul>
                            <li>XXXXXXXXXXXXXXXXXXXXXXXXXXXX</li>
                            <li>XXXXXXXXXXXXXXXXXXXXXXXXXXXX</li>
                            <li>XXXXXXXXXXXXXXXXXXXXXXXXXXXX</li>
                        </ul>
                    </div>
                </div>
                <div class="project-show">
                    <h3 class="title"><span class="glyphicon glyphicon-folder-open"></span> Project</h3>
                    <div class="project-body">
                        <ul>
                            <li>Emmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm</li>
                            <li>Emmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm</li>
                            <li>Xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</li>
                        </ul>
                    </div>
                </div>
                <div class="person-info">
                    <h3 class="title"><span class="glyphicon glyphicon-user"></span> 其他</h3>
                    <div class="person-body">
                        <p>学历: 本科</p>
                        <p>个人博客: <a target="_blank" href="http://"> Coding 就像写作文 <span class="glyphicon glyphicon-link"></span> </a></p>
                        <p>GitHub: <a target="_blank" href="http://guogugwen.github.com/haojen">http://github.com/guoguwen <span class="glyphicon glyphicon-link"></span></a></p>
                        <p>爱好: 就是这么一个有趣的人☝️</p>
                    </div>
                </div>
                <div>
                    <h3 class="title">正在深入学习的</h3>
                    <ul>
                        <li>Vue 组件化</li>
                        <li>数据分析</li>
                        <li>Webpack</li>
                        <li>ES6/7 新特性</li>
                    </ul>
                </div>
                <div class="contact-show">
                    <h3 class="title "> <span class="glyphicon glyphicon-earphone"></span> 联系我</h3>
                        <p>
                            电 &nbsp; &nbsp; &nbsp; 话: 写段程序
                        </p>
                        <p>
                            邮 &nbsp; &nbsp; &nbsp; 箱: a2572638527@gmail.com
                        </p>
                </div>
            </div>
        </div></div>
</div>




